---
import Layout from '../layouts/Layout.astro';
import MyProfile from '../components/MyProfile.astro'
import Like from "../components/Like.astro";
---

<Layout title="Welcome to lu.io site">
	<main class="p-10 mx-auto">
		<Like></Like>
		<MyProfile></MyProfile>
	</main>
</Layout>

