---
import Layout from '../layouts/Layout.astro';
import MyProfile from '../components/MyProfile.astro'
---

<Layout title="Welcome to lu.io site">
	<main class="p-10 mx-auto">
		<MyProfile></MyProfile>
	</main>
</Layout>

