---

---

<section class="box">
    <h1 class="module-title">My Profile</h1>
    <p class="line"></p>
    <div>
        <div class="label">
            <span class="text-3 mr3">Name:</span>
            <span class="text-4">luwenrui</span>
        </div>
        <div class="label">
            <span class="text-3 mr3">Current city:</span>
            <span class="text-4">taiyuan</span>
        </div>
        <div class="label">
            <span class="text-3 mr3">E-mail:</span>
            <span class="text-4">luwenruishiwo@163.com</span>
        </div>
    </div>
</section>


<style>
    .box{
        color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: fit-content;
    }

    *{
        margin: 0;
        padding: 0;
    }

    .module-title{
        font-size: 1.5em;
        padding: 2em;

    }

    .line{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .label{

    }

    .label :first-child{
        width: 400px;
        margin-right: 2em;
    }
</style>
