---
const infoArray = [
  {
    title: "关于我最近的生活",
    href: "posts/1",
    date: "2022-01-01",
  },
  {
    title: "和女朋友的那些事",
    href: "posts/1",
    date: "2022-01-01",
  },
  {
    title: "astro 真的很好玩",
    href: "posts/1",
    date: "2022-01-01",
  },
];
---

<div>
  <div class="border border-gray-500 w-full rounded-md text-white bg-[#212529]">
    <h4 class="text-2xl p-4">Posts</h4>
    <div class="border-b border-gray-50 opacity-45"></div>
    <ul>
      {
        infoArray.map((data) => (
          <li class="p-4 flex justify-between hover:bg-sky-700 transition-all">
            <a href={data.href} class="flex justify-between w-full">
              <span class="text-base">{data.title}</span> <span class="text-xs opacity-70">{data.date}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
